@import "../Global/theme";

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: $black;
  color: $yellow;
  padding: 2%;

  & p,
  & a {
    font-size: 14px;
  }

  & a {
    color: $white;
  }

  & svg {
    width: 20px;
    fill: $lightyellow;
    filter: sepia(1) brightness(100);
  }
}
