@import "global/fonts";

// You can modify the theme directly, or override some of the variables
// Overrides just need placed prior to the theme import
// For example:
// $color-primary: #3a0;
@import "global/theme";
@import "utility/reset";
@import "utility/logomark";
@import "global/typography";
@import "global/layout";
@import "composition/header";
@import "block/nav";
@import "block/about";
@import "block/eye";
@import "block/guidelines";
@import "block/contribute";
@import "block/files";
@import "block/styles";
@import "block/profile";
@import "composition/footer";
@import "block/links";
