#files .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#files .container h3 {
    grid-column: 1/4;
    justify-self: center;
    align-self: center;
    padding-bottom: 50px;
}

.link-downloadcss {
    grid-column: 1/2;
    grid-row: 2/3;
}

.link-downloadhtml {
    grid-column: 2/3;
    grid-row: 2/3;
}

.link-codepen {
    grid-column: 3/4;
    grid-row: 2/3;
}

@media only screen and (max-width: 710px) {
    #files .container {
        grid-template-rows: repeat(4, 1fr);
        grid-row-gap: 0;
    }

    .link-downloadcss {
        grid-row: 2/3;
        grid-column: 1/4;
    }

    .link-downloadhtml {
        grid-row: 3/4;
        grid-column: 1/4;
    }

    .link-codepen {
        grid-row: 4/5;
        grid-column: 1/4;
    }
}