#guidelines .container {
    display: grid;
    grid-row-gap: 20px;
    position:relative;
    z-index: 1;
    background-color: $bground;
    border: 7.5px ridge $yellow;
    border-radius: 10%;
    overflow: hidden;
    width: 96%;
    margin: 3em auto;
    & p, h3 {
    padding: 1em;   
    }
    & h2 {
        background-image: linear-gradient(
          180deg,
          $lightyellow,
          $yellow,
          $darkeryellow
        );
        border-bottom: 5px ridge $yellow;
        border-radius: 20px;
        text-align: center;
        padding: 1em;
      }
    }

.link-guidelines {
    margin-top: 20px;
}